<div class="container">
    <h2 class="my-3">{{ vehicle.year }} {{vehicle.make.charAt(0).toUpperCase()+vehicle.make.slice(1) }} {{vehicle.model.charAt(0).toUpperCase()+vehicle.model.slice(1)}}</h2>
    <div *ngFor="let avgRating of vehicle._reviews.rating; let i=index;">


    </div>
    <img class="veh-rep" src="{{vehicle.src}}">
    
    <div class="veh-reviews my-3">
        <div *ngIf="currentUser == null">
            <p><a href [routerLink]="['/registration']">Sign up</a>/login to write a review</p>
        </div>
        <div class="write-review" *ngIf="currentUser != null">
            <p>Write your review <a href [routerLink]="['/review/new/',vehicle._id]">here</a>!</p>
        </div>
        <div *ngFor="let review of vehicle._reviews | orderBy: 'createdAt':true">
            <h2><a class="one-review" href [routerLink]="['/review/view/',review._id]">{{review.description}}</a></h2>Rating: {{review.rating}}/5
            <p class="text-muted">{{review.content.slice(0,300)}}...</p>
        </div>
    </div>
</div>