<h1>{{veh_make}}</h1>



<div class="veh-make-list">
  <table class="table table-hover">
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Body</th>
      <th scope="col">Year</th>
      <th scope="col">Reviews</th>
    </tr>
    <tr class="table-light" *ngFor="let vehicle of makes">
      <td scope="row"><a href [routerLink]="['/vehicle/modelList/', vehicle.model]">{{vehicle.model}}</a></td>
      <td><a href [routerLink]="['/vehicle/bodyList/', vehicle.body]">{{vehicle.body}}</a></td>
      <td><a href [routerLink]="['/vehicle/yearList/', vehicle.year]">{{vehicle.year}}</a></td>
      <td><a href [routerLink]="['/vehicle/view/', vehicle._id]">Reviews</a></td>
    </tr>
  </table>
</div>