<div class="container">
  <div class="question-area">
    <div class="votes mr-2">
      <button class="upvote mb-1 btn" (click)="upvotePost(question._id)">🢁</button><br>
      <p class="ml-3">{{question.rank}}</p>
      <button class="downvote btn" (click)="downvotePost(question._id)">🢃</button>
    </div>
    <div class="question-body">

      <h1 class="my-3">{{question.description}}</h1>
      <h4 class="pre-area">{{question.content}}</h4>
      <p class="mt-4">By {{question._user.first_name}}</p>
    </div>
  </div>
  <hr>
  <form (submit)="createAnswer(question._id)" name="commentForm">
    <p class="answer-content"><label for="answer-content">Comment: <br> </label><textarea cols="40" rows="5" name="question" id="question" class="form-control" required minlength="6" [(ngModel)]="answer.content" #cContent="ngModel"></textarea></p>
    <div *ngIf="cContent.invalid && (cContent.dirty || cContent.touched)" class="alert alert-danger">
      <div *ngIf="cContent.errors.required">
        <p style="color: red;">Content for comment is required</p>
      </div>
      <div *ngIf="cContent.errors.minlength">
        <p style="color: red;">Comment must be at least 6 characters</p>
      </div>
    </div>
    <button class="btn bg-primary" type="submit" value="Comment"><span>Submit</span></button>
  </form>
  
  <div class="com">
    <div class="comment" *ngFor="let answer of question._answers | orderBy: 'createdAt':true">
      <div class="votes mt-5 mr-2">
        <button class="upvote mb-1 btn" (click)="upvote(answer._id)">🢁</button><br>
        <button class="downvote btn" (click)="downvote(answer._id)">🢃</button>
      </div>
      <div class="comment-body">
        <div *ngIf="answer.rank == 1 || answer.rank ==-1">
          <p class="commentAuthor mt-2"><small muted-text>{{answer._user.first_name}} [ {{answer.rank}} point ]</small></p>
        </div>
        <div *ngIf="answer.rank > 1 || answer.rank < -1 || answer.rank==0">
          <p class="commentAuthor mt-2"><small muted-text>{{answer._user.first_name}} [ {{answer.rank}} points ]</small></p>
        </div>
        <p class="commentContent pre-area">{{answer.content}}</p>
      </div>
      <hr>
    </div>
  </div>
</div>
