.comment{
    margin-top: 30px;
    display: inline-flex;
}

.upvote:hover {
    background-color: green;
    color: white;
}

.downvote:hover {
    background-color: red;
    color: white;
}

.question-area{
    display: inline-flex;
    margin-top: 20px;
}

.question-area .votes{
    width:100px;
}

.pre-area{
    white-space: pre-wrap
}