.comment{
    margin-top: 30px;
    display: inline-flex;
}

.upvote:hover {
    background-color: green;
    color: white;
}

.downvote:hover {
    background-color: red;
    color: white;
}

.question-area{
    display: inline-flex;
}

.question-area .votes{
    width:100px;
}