<div class="container">
    <div class="header-news mb-4">
        <a href="http://www.speedhunters.com/2017/09/how-to-buy-an-nsx-sight-unseen/" target="_blank">
        <img alt="Honda NSX" src="./assets/images/make-model-blakejones-speedhunters-1.jpg" alt="Broke down car" style="width:100%">
        <h1 class="mt-4">How To Buy An NSX Sight-Unseen</h1></a>
        <p class="text-muted">By Blank Jones</p>
    </div>
    <h2>Featured News</h2>
    <div class="secondary-news mt-4">
        <div class="article ml-5">
            <a href="https://www.caranddriver.com/reviews/2018-honda-odyssey-tested-with-nine-speed-automatic-review">
                <img alt="Honda Odyssey Minivan Review" src=".\assets\images\car-and-driver-honda-odyssey.jpg" style="width:100%">
                <h4>2018 Honda Odyssey Nine-Speed Automatic</h4>
            </a>
            <p class="text-muted">By Joseph Capparella</p>
        </div>
        <div class="article ml-5">
            <a href="http://www.latimes.com/business/autos/laautoshow/la-fi-hy-disappearing-stick-shift-20161115-story.html">
                <img alt="5 Speed Manual Transmission" src=".\assets\images\evening.jpg" style="width:100%">
                <h4>The disappearing stick shift: Less than 3% of cars sold in the U.S. have manual transmissions</h4>
            </a>
            <p class="text-muted">By Charles Fleming</p>

        </div>
    </div>
</div>