.header-news {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    padding: 0 20px 50px 20px;
}

a {
    text-decoration: none;
}

.secondary-news{
    display: inline-flex;
}

.article {
    width: 500px;
}