<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h1>Joe's Car Shack</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href [routerLink]="['/']">Home</a></li>
      <li class="nav-item"><a class="nav-link" href [routerLink]="['/auto/build']">Build Vehicle</a></li>
      <li class="nav-item"><a class="nav-link" href [routerLink]="['/vehicles/reviews/all']">Reviews</a></li>
      <li class="nav-item"><a class="nav-link" href [routerLink]="['/kittykatlicklick/about-us']">About Us</a></li>
      <!-- <li class="nav-item">Contact</li> -->
    </ul>
    <div class="btn-group mx-5 " role="group" aria-label="Button group with nested dropdown">
      <!-- <button type="button" class="btn btn-outline-light">Sign In</button> -->
      <div class="login" *ngIf="currentUser == null">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</button> <button type="button" class="btn btn-outline-light"><a href [routerLink]="['/registration']">Register</a></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <form (submit)="loginUser()" name="myForm">
              <input placeholder="Email" type="email" name="email" [(ngModel)]="user.email" required ng-minlength="3">
              <input placeholder="Password" type="password" name="user.password" [(ngModel)]="user.password">
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
      <div class="logout" *ngIf="currentUser != null">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentUser.first_name[0].toUpperCase()}}{{currentUser.last_name[0].toUpperCase()}}</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a href (click)="logout()">Logout</a>
            </div>
          </div>
      </div>




    </div>
    <form class="form-inline my-2 my-lg-0" action="http://search.yahoo.com/bin/search">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>      
      <!-- <div class="session-btns">
        <div *ngIf="currentUser != null">
          <a href [routerLink]="['#']">Home</a> | <a href (click)="logout()">Logout</a>
        </div>
        <div *ngIf="currentUser == null">
          <a href [routerLink]="['/registration']">Register</a> | <a href [routerLink]="['/registration']">Login</a>
        </div>
      </div> -->
</nav>

<!-- <div class="logout" *ngIf="currentUser != null || currentUser != undefined">
  <button (click)="logout()">Logout</button>
</div> -->
<router-outlet></router-outlet>