<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href [routerLink]="['/']">Home</a></li>
      <li class="nav-item"><a class="nav-link" href [routerLink]="['/auto/build']">Build Vehicle</a></li>
      <li class="nav-item"><a class="nav-link" href [routerLink]="['/vehicles/reviews/all']">Reviews</a></li>
      <li class="nav-item"><a class="nav-link" href [routerLink]="['/kittykatlicklick/about-us']">About Us</a></li>
      <!-- <li class="nav-item">Contact</li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>      
      <!-- <div class="session-btns">
        <div *ngIf="currentUser != null">
          <a href [routerLink]="['#']">Home</a> | <a href (click)="logout()">Logout</a>
        </div>
        <div *ngIf="currentUser == null">
          <a href [routerLink]="['/registration']">Register</a> | <a href [routerLink]="['/registration']">Login</a>
        </div>
      </div> -->
</nav>

<!-- <div class="logout" *ngIf="currentUser != null || currentUser != undefined">
  <button (click)="logout()">Logout</button>
</div> -->
<router-outlet></router-outlet>