<div class="header-nav">
  <ul class="nav">
    <li><a href [routerLink]="['/']">Home</a></li>
    <li><a href [routerLink]="['/auto/build']">Build Vehicle</a></li>
    <li><a href [routerLink]="['/vehicles/reviews/all']">Reviews</a></li>
    <li>About Us</li>
    <li>Contact</li>
  </ul>
  <div class="session-btns">
    <div *ngIf="currentUser != null">
      <a href [routerLink]="['#']">Home</a> | <a href (click)="logout()">Logout</a>
    </div>
    <div *ngIf="currentUser == null">
      <a href [routerLink]="['/registration']">Register</a> | <a href [routerLink]="['/registration']">Login</a>
    </div>
  </div>
</div>

<!-- <div class="logout" *ngIf="currentUser != null || currentUser != undefined">
  <button (click)="logout()">Logout</button>
</div> -->
<router-outlet></router-outlet>