.header-nav {
    /* margin-top: 50px; */
    background-color: rgb(75, 75, 75);
    padding-top: 50px;
    padding-bottom: 10px;
    color: rgb(189, 189, 189);
}

.header-nav a{
    color: rgb(189, 189, 189);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
}


.nav li {
    display: inline;
    margin-right: 60px;

}

.nav {
    display: inline;
}


.session-btns {
    float: right;
    margin-right: 30px;
}