<div class="container">
  <h1 class="mb-5 mt-3">{{veh_year}}</h1>
  <div class="veh-years">
    <table class="table table-hover">
      <tr>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Body</th>
        <th scope="col">Reviews</th>
      </tr>
      <tr class="table-light" *ngFor="let veh of years">
        <td><a href [routerLink]="['/vehicle/makeList/', veh.make]">{{veh.make.charAt(0).toUpperCase()+veh.make.slice(1)}}</a></td>
        <td><a href [routerLink]="['/vehicle/modelList/', veh.model]">{{veh.model.charAt(0).toUpperCase()+veh.model.slice(1)}}</a></td>
        <td><a href [routerLink]="['/vehicle/bodyList/', veh.body]">{{veh.body.charAt(0).toUpperCase()+veh.body.slice(1)}}</a></td>
        <td><a href [routerLink]="['/vehicle/view/', veh._id]">{{veh._reviews.length}}</a></td>
        
      </tr>
    </table>
  </div>
</div>