<div class="header">
    <img src="./assets/images/Doggy.jpeg" alt="bulldog looking out the window">
</div>
<div class="header-text">
    <h1 class="my-3 text-center" id="text-header">Lorem Ipsum</h1>
</div>
<div id="content">
    <div id="images">
        <img class="float-left mr-5" src="./assets/images/porsche.jpeg" alt="Broke down car" style="width: 300px">
        <img class="float-left mr-5" src="./assets/images/VW_bus.jpeg" alt="VW Bus Front Bumper" style="width: 300px">
        <img class="float-left mr-5" src="./assets/images/harlem_car.jpeg" alt="Harlem woman in front of car" style="width: 300px">
    </div>
    <div class="content-text">
        <h5 class="mt-5 mx-5">Who</h5>

        <p id="text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eros mauris, ornare quis elit ut, convallis facilisis orci. Morbi rhoncus non ipsum at fringilla. Nulla vitae mi sed lorem ultrices suscipit non non eros. Sed a urna ac mi commodo ultricies euismod quis lectus.</p>
        <h5 class="mt-5 mx-5">Why</h5>
        <p id="text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum porta erat, at porta mi porta eu. Sed tristique nunc dolor, eu eleifend mi accumsan sit amet. Sed nunc diam, molestie suscipit dapibus sit amet, tempus et purus. Curabitur eget metus rhoncus nunc dapibus sollicitudin porttitor a tortor. Etiam at odio porttitor, molestie enim at, sollicitudin eros.</p>
        <h5 class="mt-5 mx-5">Where</h5>
        <p id="text-paragraph">Donec tristique suscipit viverra. Maecenas congue semper blandit. Suspendisse potenti. Sed venenatis finibus lectus, non ornare velit suscipit a. Duis purus diam, pulvinar id eros venenatis, faucibus finibus libero. Etiam ullamcorper ligula in urna pulvinar, id eleifend tortor condimentum. Nulla facilisi. Nullam id erat tristique, vulputate elit vitae, eleifend lacus.</p>
    </div>
</div>