<h2>{{veh_body}}</h2>

<div class="veh-bodies">
  <table>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Reviews</th>
      </tr>
      <tr class="veh-list" *ngFor="let veh of bodies">
        <td><a href [routerLink]="['/vehicle/makeList/', veh.make]">{{veh.make}}</a></td>
        <td><a href [routerLink]="['/vehicle/modelList/', veh.model]">{{veh.model}}</a></td>
        <td><a href [routerLink]="['/vehicle/yearList/', veh.year]">{{veh.year}}</a></td>
        <td><a href [routerLink]="['/vehicle/view/', veh._id]">Reviews</a></td>
      </tr>
    </table>
</div>