<button [routerLink]="['/dashboard']">Home</button><button (click)="logout()">Logout</button>
<h1>QUESTION FORM</h1>
<form (submit)="createQuestion()">
  <p><label for="question-description">Title: <br> </label><input type="text" name="description" id="description" class="form-control" required minlength="6" [(ngModel)]="question.description" #qDesc="ngModel"></p>
  <p class="question-content"><label for="question-content">Question: <br> </label><textarea cols="40" rows="10" name="question" id="question" class="form-control" required minlength="6" [(ngModel)]="question.content" #qContent="ngModel"></textarea></p>
      <div *ngIf="qContent.invalid && (qContent.dirty || qContent.touched)" class="alert alert-danger">
        <div *ngIf="qContent.errors.required">
          <p style="color: red;">Content for complaint is required</p>
        </div>
        <div *ngIf="qContent.errors.minlength">
          <p style="color: red;">Complaint must be at least 6 characters</p>
        </div>
      </div>
    <input type="submit" value="Ask!!">
</form>