<div class="container">
  <h1 class="mb-5 mt-3">{{veh_model.charAt(0).toUpperCase()+veh_model.slice(1)}}</h1>
  <div class="veh-bodies">
    <table class="table table-hover">
      <tr>
        <th scope="col">Make</th>
        <th scope="col">Body</th>
        <th scope="col">Year</th>
        <th scope="col">Trim</th>
        <th scope="col">Reviews</th>
      </tr>
      <tr class="table-light" *ngFor="let veh of models | orderBy: 'make':true">
        <td><a href [routerLink]="['/vehicle/makeList/', veh.make]">{{veh.make.charAt(0).toUpperCase()+veh.make.slice(1)}}</a></td>
        <td><a href [routerLink]="['/vehicle/bodyList/', veh.body]">{{veh.body.charAt(0).toUpperCase()+veh.body.slice(1)}}</a></td>
        <td><a href [routerLink]="['/vehicle/yearList/', veh.year]">{{veh.year}}</a></td>
        <td *ngIf="veh.type != null">{{veh.type.charAt(0).toUpperCase()+veh.type.slice(1)}}</td>
        <td *ngIf="veh.type == null" class="text-muted">No Trim</td>
        <td><a href [routerLink]="['/vehicle/view/', veh._id]">{{veh._reviews.length}}</a></td>
        
      </tr>
    </table>
  </div>
</div>